.upload{
	position: fixed;
	margin-left: 200px;

}
.takepic{
	position: fixed;
	margin-left: 50px;

}
.title_photo{
  top: 0;
  left: 40px;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;	
}
ion-card{
    height:50% !important
  }
  .home_head{
  font-size: 0.9rem;
  padding-top: 0.1rem;
  padding-left: 0.75rem;
} 
// .captchatick{}