.home_head{
	font-size: 0.9rem;
	padding-top: 0.1rem;
	padding-left: 0.75rem;
}
.avatar{
		padding-top: 0.1rem;
	padding-left: 0.375rem;
	padding-right: 0.375rem;
}
.card-header{
	padding-top: 0.1rem;
	padding-left: 4.00rem;
	padding-right: 4.00rem;	
}

.bio-details{
	text-align:justify;
}
