.headertitle{
	text-align: center;
	padding-bottom: 10px;
	color: #2e1901;
}

.headerdivider{ 
    margin-top: 0px;
    margin-left: -2px;
    min-height: 0.1px!important;
  }

  .contentclass{
	font-weight: normal;
    // font-size: 17px;
    font-size: medium;
	color: #000000;
	text-align:justify;
}