<ion-header>
  <ion-toolbar color="primary" >
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-toolbar class="item-content">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="headertitle">{{title}}</ion-title>
    <ion-item-divider class="headerdivider" color="primary"></ion-item-divider>
  </ion-toolbar>

  <ion-card color="tertiray">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <!-- <ion-card-title>Card Title</ion-card-title> -->
    </ion-card-header>
  
    <ion-card-content>
      <ion-text class="contentclass" >{{content}}</ion-text>
    </ion-card-content>
  </ion-card>

</ion-content>
