/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.my-custom-modal-css .modal-wrapper {
   height: 36.75%;
   top: 63.25%;
   position: absolute; 
   display: block;  
}
.my-how-modal-css .modal-wrapper {
   height: 95%;
   top: 5%;
   position: absolute; 
   display: block;  
}
.commentToast{
  top:25%;

}
.my-comment-modal-css .modal-wrapper {
   height: 41%;
   top: 59%;
   position: fixed; 
   display: block;  
}
.my-contactform-modal-css .modal-wrapper {
   height: 41%;
   top: 20%;
   position: fixed; 
   display: block;  
}
@font-face {
  font-family: 'RamadhanKarim';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/RamadhanKarim.ttf');
}
@font-face {
  font-family: 'GaramondBold';
  // font-style: normal;
  // font-weight: normal;
  src: url('./assets/fonts/GaramondBold.ttf');
}